body {
  font-family: "Roboto", "Raleway";
  margin: 0;
  overflow-x: hidden;
}
:root {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}

.link {
  text-decoration: none;
  color: #afb1b8;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* HEADER */
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}

.logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.link:focus,
.link:hover {
  color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pointer {
  cursor: pointer;
}

.hat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navi-ap {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.studio {
  position: relative;
}
.studio::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  top: 46px;
  background: #2196f3;
  border-radius: 2px;
}
.portfolio {
  position: relative;
}
.header-start .portfolio::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0px;
  top: 46px;
  background: #2196f3;
  border-radius: 2px;
}

.navi-ap :not(:last-child) {
  margin-right: 50px;
}

.class-tel {
  display: flex;
}

.navi-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navi-item + .navi-item {
  margin-left: 50px;
}

.header-start-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}

.header-email-link {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

.email {
  align-self: center;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.email-item.list.navi-item .email:hover {
  fill: #2196f3;
}

.tel {
  align-self: center;
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.header-tel-link {
  display: inline-flex;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

.container-head {
  margin: 0;
}

.hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/team.jpg);
}
/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  box-sizing: border-box;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  padding: 40px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  box-sizing: border-box;
  position: absolute;
  display: block;
  left: 490px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
.close:hover,
.close:focus {
  fill: #2196f3;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover svg {
  fill: #2196f3;
}
.modal-close-svg:hover {
  fill: currentColor;
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  /* identical to box height */
  letter-spacing: 0.01em;
}
.form-terms {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.contract {
  color: rgba(33, 150, 243, 1);
  text-decoration: underline;
}
.svg-agree {
  margin-right: 8.38px;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form-contract {
  margin-top: 20px;
  margin-bottom: 30px;
}
.data {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}
.form :not(:last-child) {
  margin-bottom: 10px;
}
.area {
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline-style: none;
}
.area ::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.area:focus {
  border: 1px solid #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput {
  box-sizing: border-box;
  padding: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-style: none;
}
.form-label {
  padding-bottom: 4px;
}
.icon-name {
  position: absolute;
  top: 55%;
  left: 15px;
  fill: #212121;
}
.icon-telefon {
  position: absolute;
  top: 55%;
  left: 14.27px;
  fill: #212121;
}
.icon-mail {
  position: absolute;
  top: 55%;
  left: 13.5px;
  fill: #212121;
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
}
.form-imput:focus + .icon-form {
  fill: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-imput:focus {
  border: 1px solid #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-form {
  display: flex;
  align-items: center;
}
.form-contract {
  display: inline-block;
}
.icon-wrapper {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-contract .agree-icon {
  fill: transparent;
}
.form-contract input:checked + .checkbox-form .agree-icon {
  fill: #ffffff;
}

.form-contract input:checked + .checkbox-form .icon-wrapper {
  background-color: #2196f3;
  border: none;
}

.submit-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 713px;
  color: #ffffff;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
.submit-button:hover {
  color: #fff;
}

.hero-tagline {
  margin: 0 auto;
  width: 696px;
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-tagline {
  padding-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  color: #ffffff;
}

.main-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  border: none;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
}

.main-button:hover {
  color: #fff;
}

.quality-catalog {
  margin-bottom: 118px;
  display: flex;
  /* outline: 2px solid tomato; */
}

.qualiti-catalog-list {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.quality-title:not(:last-child) {
  margin-right: 30px;
}

.attention-icon {
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  background: #f5f4fa;
  border-radius: 4px;
}

.qualiti-catalog-dignitis {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #757575;
  letter-spacing: 0.03em;
}

.activity-speciality {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.additions-servisis {
  position: absolute;
  top: 224px;
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.img-cart {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  z-index: -1;
}

.we-work {
  display: inline-flex;
  padding-left: 0px;
  gap: 30px;
}
.team {
  background: #f5f4fa;
}

.foto-team {
  display: flex;
}

.dream-team {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.dream-team:not(:last-child) {
  margin-right: 30px;
  padding-left: 0;
}

.team-compound {
  padding-bottom: 50px;
}

.team-compound {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-specialiti {
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team-networks {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}

.team-item:last-child {
  margin: 0;
}

.team-item:hover,
.team-item:focus {
  background: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover svg {
  fill: #ffffff;
}

.networks {
  display: block;
  fill: currentColor;
}

.location {
  align-self: flex-start;
}

.location-street {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.location-email-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.location-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.gation {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work-examples {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
  /* border: 1px solid #EEEEEE; */
}

.work-examples-text {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clients {
  text-align: center;
  padding-top: 94px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-item {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding-bottom: 94px;
}

.icon-clients {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.icon-clients:not(:last-child) {
  margin-right: 30px;
}

.icon-clients:hover,
.icon-clients:focus {
  border: solid #2196f3;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients:hover svg {
  fill: #2196f3;
}

.clients-link {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* ФУТЕР */
.footer {
  display: flex;
}

.footer-end {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-end {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}

.location-street {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.location-email,
.location-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

footer {
  background-color: #2f303a;
}

.location-footer {
  padding-left: 0;
  margin: 0px;
  margin-top: 20px;
}
.subscribe {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-left: 93px;
  padding-top: 72px;
}
.footer-send {
  display: flex;
}
.footer-join-mail {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  padding: 0;
  margin: 0;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}
.icon-send {
  position: absolute;
  right: 28px;
  top: 13px;
}
.subscribe input::placeholder {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
  text-align: right;
  padding-right: 62px;
  color: #ffffff;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
.footer-button:hover {
  color: #fff;
}

/* приєднуйтесь */

.footer-join {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  padding-top: 72px;
}

.join-social {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.join-item {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.join-link {
  display: flex;
  justify-content: center;
}

.join-item:hover,
.team-item:focus {
  background: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-item:last-child {
  margin: 0;
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.join {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* портфолио */

.navi-button {
  display: flex;
  justify-content: center;
}

.button-hover:hover,
.button-hover:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all {
  display: inline-block;
  width: 73px;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}

.web {
  width: 125px;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}

.applications {
  display: inline-block;
  width: 112px;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}

.design {
  display: inline-block;
  width: 103px;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}

.market {
  display: inline-block;
  width: 130px;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}

.basic {
  padding-bottom: 50px;
}

.basic :not(:last-child) {
  margin-right: 8px;
}

.fotos-parent {
  display: block;
  display: flex;
  flex-wrap: wrap;
}

.fotos-section .fotos:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.popup {
  display: flex;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: inherit;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotos :hover .overlay {
  transform: translateY(0);
}

.fotos {
  background: #ffffff;
  margin-bottom: 30px;
  margin-right: 30px;
  display: grid;
}

.fotos:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.fotos:nth-last-child(3n + 1) {
  margin-right: 0;
}

.foto-description {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
