.doing{
  @media screen and (max-width: 1169px){
    max-width: 767px;
    display: none;
  }
}
  .activity{
   
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: $pre-title-case;

    &__card{
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        z-index: -1;
      }
      &__work{
        display: inline-flex;
        padding-left: 0px;
        gap: 30px;
      }
      &__servisis{
        position: absolute;
        top: 224px;
        box-sizing: border-box;
        padding-top: 27px;
        padding-bottom: 27px;
        background: rgba(47, 48, 58, 0.8);
        width: 370px;
        height: 70px;
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-first-color;
      }
      
  }
  