.benefits {
&__icon{
  box-sizing: border-box;
  width:  450px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: $main-color;
  border-radius: 4px;
}
&__title{
  text-align: center;
  padding-bottom: 10px;
  color: $title-second-color;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #212121;
}
&__text{
  text-align: left;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: $title-second-color;
  letter-spacing: 0.03em;
}
}

@media screen and (min-width:768px){
  .benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
 
  &__icon{
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    width: 354px;
    height: 120px;
    left: 215px;
    top: 774px;
    background: $main-color;
    border-radius: 4px;
  }
  &__title{
    padding-bottom: 10px;
    color: $pre-title-case;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
  &__text{
    width: 356px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: $title-second-color;
    letter-spacing: 0.03em;
  }
  
}

}
@media screen and (min-width: 1200px){
  .benefits {
    margin-bottom: 118px;
    display: flex;
  // &__list:not(:last-child) {
  //   margin-right: 30px;
  // }
  &__icon{
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    left: 215px;
    top: 774px;
    background: $main-color;
    border-radius: 4px;
  }
  &__title{
    padding-bottom: 10px;
    color: $pre-title-case;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
  }
  &__text{
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: $title-second-color;
    letter-spacing: 0.03em;
  }


   
  
}
}