@media screen and (max-width: 767px){
.subscribe {
  display: flex;
  justify-content: center;
  padding-bottom: 0;

  padding-top: 70px;
  &__title {
    margin-bottom: 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-first-color;
  }
 
  
  &__mail{
    box-sizing: border-box;
    width: 450px;
    height: 50px;
    padding: 0;
    margin: 0;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
  }
  &__button{
    position: relative;
    width: 200px;
    height: 50px;
    padding: 0;
    margin-top: 20px;
    text-align: right;
    padding-right: 62px;
    color: $title-first-color;
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;}

    &__button:hover {
        color: #fff;
      }
    &__icon{
        position: absolute;
        right: 28px;
        top: 13px;
      }
      &__input::placeholder {
        margin: 0;
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
      
        color: rgba(255, 255, 255, 0.6);
      }
}}

@media screen and (max-width: 1169px){
.subscribe {
  box-sizing: border-box;
  justify-content: center;
  padding-bottom: 0;
 
  padding-top: 70px;
&__send{
  display: table-caption;
  padding-left: 166px;
}
  &__title {
    margin-bottom: 20px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-first-color;
  }
  
  &__mail{
    padding-left: 166px;
    box-sizing: border-box;
    width: 450px;
    height: 50px;
    padding: 0;
    margin: 0;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
  }
  &__button{
    margin-top: 20px;
    position: relative;
    width: 200px;
    height: 50px;
    padding: 0;
    text-align: right;
    padding-right: 62px;
    color: $title-first-color;
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;}

    &__button:hover {
        color: #fff;
      }
    &__icon{
        position: absolute;
        right: 28px;
        top: 13px;
      }
      &__input::placeholder {
        margin: 0;
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
      
        color: rgba(255, 255, 255, 0.6);
      }
}}

@media screen and (min-width: 1170px){
  .subscribe {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-left: 93px;
    padding-top: 70px;
    &__title {
      margin-bottom: 20px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $title-first-color;
    }
    &__send{
      display: flex;
    }
    
    &__mail{
      box-sizing: border-box;
      width: 358px;
      height: 50px;
      padding: 0;
      margin: 0;
      padding-left: 16px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: #2f303a;
    }
    &__button{
      position: relative;
      width: 200px;
      height: 50px;
      padding: 0;
      margin-left: 12px;
      text-align: right;
      padding-right: 62px;
      color: $title-first-color;
      background: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      cursor: pointer;}
  
      &__button:hover {
          color: #fff;
        }
      &__icon{
          position: absolute;
          right: 28px;
          top: 13px;
        }
        &__input::placeholder {
          margin: 0;
          font-family: $main-font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height, or 125% */
          display: flex;
          align-items: center;
          letter-spacing: 0.03em;
        
          color: rgba(255, 255, 255, 0.6);
        }
  }}