body {
    margin: 0;
    overflow-x: hidden;
    
  }
h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
 
  @media screen and (min-width: 480px) {
    width: 480px;
    .section {
      padding-left: 15px;
      padding-top: 94px;
      padding-bottom: 94px;}
  
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    .section {
      padding-left: 15px;
      padding-top: 94px;
      padding-bottom: 94px;}
  
  }
  @media screen and (min-width:1200px ){
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    .section {
      padding-left: 15px;
        padding-top: 94px;
        padding-bottom: 94px;}
  }
 
  }

.section {
  padding-left: 15px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: no-repeat;
    background-position: center;
    background-size: cover;}


.link {
    text-decoration: none;
    color: $second-color;
    cursor: pointer;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .img{
    display: block;
    max-width: 100%;
    height: auto;
  }