$main-color: #f5f4fa;
$second-color: #afb1b8;
$accent-color: #2196f3;
$pre-title-case: #212121;
$title-first-color: #ffffff;
$title-second-color: #757575; 
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
 